body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 49, 49);
  flex-direction: column;

}

h1 {
  font-size: 4em;
  font-family: 'Montserrat';
  color: white;
  margin-bottom: 30px;
}

.botoes {
  display: flex;
  gap: 0px 20px;
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-size: 2em;
  padding: 15px 20px;
  border-radius: 15px;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(49, 49, 49);
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(58, 58, 58);
}

.play {
  color: rgb(84, 173, 84);
}

.stop {
  color: rgb(224, 105, 105);
}

.disabled {
  color: rgb(104, 104, 104);
}

.active {
  color: rgb(78, 112, 223);
}

.remove {
  color: rgb(221, 221, 98);
}

.text {
  font-family: 'montserrat';
  color: white;
  margin-top: 20px;
  text-align: center;
  max-width: 900px;
  white-space: normal;
}